<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>QuanQuen</display-name>		
	<servlet>
		<servlet-name>admin.Authorization</servlet-name>
		<servlet-class>quanquen.control.admin.AuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>admin.Search</servlet-name>
		<servlet-class>quanquen.control.admin.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin.Authorization</servlet-name>
		<url-pattern>/admin/login.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin.Authorization</servlet-name>
		<url-pattern>/admin/logout.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin.Search</servlet-name>
		<url-pattern>/admin/searchmember.jsp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>quanquen.control.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>place</display-name>
    <servlet-name>place</servlet-name>
    <servlet-class>quanquen.control.place</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>place</servlet-name>
    <url-pattern>/place</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadDistricts</display-name>
    <servlet-name>loadDistricts</servlet-name>
    <servlet-class>quanquen.control.loadDistricts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadDistricts</servlet-name>
    <url-pattern>/loadDistricts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>category</display-name>
    <servlet-name>category</servlet-name>
    <servlet-class>quanquen.control.category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>  	
</web-app>