.places {
	position: relative;
	border-bottom: 1px solid #ddd;
	margin: 0px 10px;
	width: 960px;
	height: 150px;
}

.places:last-child {
	border-bottom: none;
}
.places img {
	float: left;
	padding: 15px 10px;
}

.places h3 {
	position: relative;
	padding: 35px 0px 0px 0px;
}

.places h3 a {
	color: #f00;
}

.places ul li {
	float: left;
	border-right: 1px solid #ddd;
	padding: 0px 5px;
}

.places ul li:first-child {
	padding-left: 0px;
}

.places ul li:last-child{
	border: none;
}

.places ul li a:hover{
	color: #f00;	
}

.places ul {
	height: 20px;
	width: 500px;
}

.clear {
	clear: both;
}