div#content div#quanquen_first {
	position: relative;
	width: 980px;
	padding: 0px 0px 0px 5px;
}

div#quanquen_first div#topplace {
	position: relative;
	height: 400px;
	width: 600px;
	border: 1px solid #ddd;
	overflow: hidden;
}

div#topplace #gallerytopplace{
	height: 400px;
}

div#quanquen_first div#topplace div#boxtexttopplace{
	height: 95px;
}

div#quanquen_first div#topplace div#numbertopplacebox {
	position: absolute;
	top: 5px;
	left: 0px;
	z-index: 600;
}

#boxtexttopplace{
	height: 95px;
	width: 580px;
}

div#quanquen_first div#topplace div#numbertopplacebox input {
	float: left;
}

div#content div#quanquen_first div#ad {
	position: absolute;
	height: 400px;
	width: 370px;
	border: 1px solid #ddd;
	top: 0px;
	right: 0px;
}

div#content div#quanquen_last{
	position: relative;
	width: 980px;
	margin: 0px 0px 0px 5px;
	margin-top: 10px;
}

form#choosecategory{
	padding: 10px 0px 0px 0px;
	border: 1px solid #ddd;
	height: 40px;
}

form#choosecategory fieldset{
	border: none;
	width: 670px;
	margin: auto;
}

form#choosecategory fieldset label {
	width: 120px;
	float: left;
	height: 24px;
	line-height: 24px;
	text-align: right;
	margin-right: 5px;
}

form#choosecategory fieldset select{
	width: 180px;
	float: left;
	height: 24px;
	line-height: 24px;
	font-size: 1em;
	text-transform: capitalize;
}

form#choosecategory fieldset input{
	margin-left: 20px;
}

div#content div#quanquen_last div#category{
	position: relative;
	width: 600px;
	border: 1px solid #ddd;
	margin-top: 10px;
	padding: 10px;
	min-height: 400px;
	height: auto;
	height: 400px;
}

div#content div#quanquen_last div#category ul li{
	float: left;
	margin-right: 10px;
	width: 140px;
}

div#content div#quanquen_last div#category ul li a:hover{
	color: #f00;
}

div#content div#quanquen_last div#tabs{
	position: absolute;
	width: 350px;
	height: 400px;
	top: 62px;
	right: 0px;
	border: 1px solid #ddd;
	padding: 0px 0px 20px 0px;
}